{% load bootstrap_icons %}

<div class="container mt-4">
    <h2 class="mb-3">Detalles del Procesador</h2>
    
    <div class="card shadow-lg p-4">
        <p><strong>ID:</strong> {{ procesador.id_procesador|default_if_none:"No disponible" }}</p>  
        
        <p><strong>Nombre:</strong> {{ procesador.nombre }}</p>

        <p><strong>Familia del Procesador:</strong> {{ procesador.familiaprocesador|slice:":10" }}</p>

        <p><strong>Potencia de Cálculo:</strong> {{ procesador.potenciacalculo|default_if_none:"Información no disponible" }}</p>  

        <p><strong>Núcleos:</strong> {{ procesador.nucleos|default_if_none:"No especificado" }}</p>

        <p><strong>Hilos Procesador:</strong> {{ procesador.hilos|default_if_none:"No especificado" }}</p>

        <p><strong>URL de Compra:</strong> 
            <a href="{{ procesador.urlcompra }}" target="_blank" class="text-primary">
                {{ procesador.urlcompra|slice:":30" }}...
            </a>
        </p>

        <p><strong>Nombre Placa Base:</strong>
            {% if procesador.placabase %}
                {{ procesador.placabase.nombre|upper }}
            {% else %}
                <span class="text-danger">No asignada, lo sentimos</span>
            {% endif %}
        </p>


    </div>
</div>
