<h2>{{ grafica.nombre_grafica }}</h2>
<p>ID DE LA GRAFICA: {{ grafica.id_grafica }}</p> 


<h3>Procesadores Asociados:</h3>
{% if procesadores %}
    {% for procesador in procesadores %}
    <div>
        <p><strong>ID:</strong> {{ procesador.id_procesador }}</p>
        <p><strong>Nombre:</strong> {{ procesador.nombre }}</p>
        <p><strong>Familia del Procesador:</strong> {{ procesador.familiaprocesador }}</p>
        <p><strong>Potencia de Cálculo:</strong> {{ procesador.potenciacalculo }}</p>
        <p><strong>Núcleos:</strong> {{ procesador.nucleos }}</p>
        <p><strong>Hilos:</strong> {{ procesador.hilos }}</p>
        <p><strong>URL de Compra:</strong> <a href="{{ procesador.urlcompra }}">{{ procesador.urlcompra }}</a></p>
        
        <p><strong>Placa Base:</strong>
            {% if procesador.placabase %}
                {{ procesador.placabase.nombre }} <!-- Solo el Nombre de la Placa Base -->
            {% else %}
                No asignada
            {% endif %}
        </p>
    </div>
    <hr>
    {% endfor %}
{% else %}
    <p>No hay procesadores conectados a esta gráfica, lo sentimos.</p>
{% endif %}