{# ESTO ES EL APARTADO 3 #}

<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <script src="{% static './javascript/script.js' %}"></script>

    <!-- Carga de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1 class="bienvenida text-center mt-3">Bienvenido a la API CLIENTE de CoolComponents!</h1>

    {% block cabecera %}
    {% endblock %}

    {% include './nav.html' %}

    <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center flex-column">
            {% if request.session.token %}
                <div class="alert alert-success text-center w-50">
                    <h4 class="mb-2">Bienvenido, <strong>{{ request.session.usuario.username }}</strong></h4>
                    <p class="mb-1"><strong>Email:</strong> {{ request.session.usuario.email }}</p>
                    <p class="mb-2"><strong>Rol:</strong> 
                        {% if request.session.usuario.rol == 2 %}
                            Cliente
                        {% elif request.session.usuario.rol == 3 %}
                            Técnico Informático
                        {% elif request.session.usuario.rol == 4 %}
                            Vendedor
                        {% else %}
                            Usuario Desconocido
                        {% endif %}
                    </p>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión</a>
                </div>
            {% else %}
                <div class="text-center">
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                    <a href="{% url 'api_registrar_usuario' %}" class="btn btn-secondary">Registrarse</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% block contenido %}
    {% endblock %}

    {% include './footer.html' %}

</body>
</html>
