<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Grafica</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Crear una nueva gráfica!</h1>
        <h2 class="text-center">Si vd. es Vendedor, no podra enlazar, debe ser administrador</h2>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
        <a href="{% url 'lista_graficas' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
