<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="text-danger">Error</h1>
        <p>❌ {{ mensaje }}</p>
        <a href="{% url 'graficas_lista_api' %}" class="btn btn-primary">Volver a la lista</a>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
