{% extends "../estructura/templatefinal.html" %}
{% block cabecera %}
{% endblock %}
    <h1>Lista de Procesadore Segun su Familia Intel</h1>
    {% block contenido %}
    
        {% for procesador in procesadores %}
        {% if procesador.familiaprocesador == "Intel" %}
        <br>
        <p>El procesador que se muestra a continuacion si pertenece a la familia Intel segun nuestro sistema!</p>
        <br>
            {%endif%}
            {% include "../estructura/procesadores_for.html" %}
        {% endfor %}


    {% endblock %}
